{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Mensaje de {{mensaje.remitente}}- BlogCoder</title>
{% endblock titulo %}


{% block contenido %}

<div class="container mt " style="margin: 4rem auto;" >
    
    <div class="row d-flex justify-content-center">
            
            <div class="contenedorFormulario">


             
      
          <div style="margin:1rem">
            {% if mensaje.remitente.is_superuser %}
            <div class="be-img-comment" style="margin-bottom: 0px;">
          <a href='{% url "perfil_usuario" mensaje.remitente.id %}'>
            {% if mensaje.remitente.masdatosusuarios.avatar %}
              <img src="{{ mensaje.remitente.masdatosusuarios.avatar.url}}" alt="" class="be-ava-mensaje" style="object-fit: cover;border-style: solid;border-width: 3px; border-radius: 50%;border-color: #198754;width:120px; height:120px"/>
              {% else %}
              <img src="{% static 'LibreriaCoderApp/assets/img/AvatarPorDefecto.png' %}" alt="" class="be-ava-mensaje" style="object-fit: cover;border-style: solid;border-width: 3px; border-radius: 50%;border-color: #198754;width:120px; height1200px"/>
              {% endif %}
            </a>
        </div>
      {% else %}
        <div class="be-img-comment" style="margin-bottom: 0px;">
          <a href='{% url "perfil_usuario" mensaje.remitente.id %}'>
            {% if mensaje.remitente.masdatosusuarios.avatar %}
              <img src="{{ mensaje.remitente.masdatosusuarios.avatar.url }}" alt=""class="be-ava-mensaje"style="object-fit: cover; border-radius: 50%;width:120px; height:120px"/>
            {% else %}
              <img src="{% static '/LibreriaCoderApp/assets/img/AvatarPorDefecto.png' %}" alt=""class="be-ava-mensaje"style="object-fit: cover;border-radius: 50%;width:120px; height:120px"/>
            {% endif %}
          </a>
        </div>
      {% endif %}
        <span class="TituloPost" style="margin-left:6rem;">{{mensaje.remitente.username}}</span>
        <div class="text-muted fst-italic mb-2" ><span style="margin-left:6rem;">{{mensaje.creado}}</span></div>
        </div>
          <div style="margin: 5rem 0rem 1rem 0rem">
            {{mensaje.contenido|safe}}
          </div>
        </div>
         
</div>
<div style="width: 90%;margin: 2rem; overflow:hidden">
                
  <a class="btn btn-primary px-4 ms-3" href={% url "buzon" %} style="float:left;">Volver</a>
  <a class="btn btn-danger px-4 ms-3" href='{% url "eliminar_mensaje" mensaje.id %}'  style="float:left;">Eliminar</a>
  <a class="btn btn-primary px-4 ms-3" href={% url 'enviar_mensaje' mensaje.remitente.id %} style="margin: 0rem 1rem 0rem 1rem;">Responder</a>

</div>
</div>


{% endblock contenido %}