{% extends 'base.html' %} {% load static %} {% block titulo %}
<title>Contraseña cambiada - BlogCoder</title>
{% endblock titulo %} {% block contenido %}
<title>Salir</title>
<div
  class="contenedorFormulario"
  style="padding: 0rem 0rem 2rem 0rem; margin: 2rem 18rem">
  <div style="margin: 2rem; text-align: center">
    <span class="TituloPost">Contraseña cambiada correctamente</span>
  </div>
  <div style="text-align: center">
    <img
      src="{% static 'LibreriaCoderApp/assets/img/ContraseñaCambiada.jpg' %}"
      alt=""
      style="width: 50%"
    />
  </div>
</div>
{% endblock contenido %}
